.hero-block {
    background-image: linear-gradient(to top, $color-primary 30%, $color-secondary 70%);
    padding: 200px 20px 60px;
    text-align: center;
    position: relative;

    .hero-bg-left {
        height: 484px;
        left: -6%;
        top: -7%;
        position: absolute;
        z-index: 99;
    }

    .hero-bg-right {
        width: 600px;
        right: -14%;
        top: 14%;
        position: absolute;
        z-index: 99;
    }
}