.showcase {
    background-color: $color-primary;
    padding: 60px 20px;
    display: flex;
    justify-content: center;
    position: relative;
    overflow: hidden;

    ul {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 20px;
        min-width: 110%;
        height: 400px;
    }

    li {
        list-style: none;
        height: 100%;
    }

    img {
        height: 100%;
        min-width: 400px;
        min-height: 400px;
        width: auto;
        max-width: none;
    }
}